<h1 class="title">Editing instrumento</h1>

<%= render "form", instrumento: @instrumento %>

<br>

<div class="field is-grouped">
  <div class="control">
    <%= link_to "Ver este instrumento", @instrumento, class: "button is-info" %>
  </div>
  <div class="control">
    <%= link_to "Volver", instrumentos_path, class: "button is-info" %>
  </div>
</div>
