<h1 class="title">Sube tus instrumentos a vitrina!</h1>

<%= render "form", instrumento: @instrumento %>

<br>

<div class="field is-grouped">
  <div class="control">
    <%= link_to "Volver", '/', class: "button is-info" %>
  </div>
</div>
