<div id="<%= dom_id pedido %>" class="box">
  <p class="is-size-5">
    <strong>Nombre:</strong>
    <%= pedido.nombre %>
  </p>

  <p class="is-size-5">
    <strong>Direccion:</strong>
    <%= pedido.direccion %>
  </p>

  <p class="is-size-5">
    <strong>Instrumento:</strong>
    <%= pedido.instrumento %>
  </p>
</div>
