<h1 class="title">Compra nueva</h1>

<div class="container">
  <%= render "form", compra: @compra %>
</div>

<br>

<div>
  <%= link_to "Listado de compras", compras_path, class: "button is-link" %>
</div>
