<div id="<%= dom_id usuario %>" class="box">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Contrasena:</strong>
    <%= usuario.contrasena %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>
</div>
