<h1 class="title"></h1>

<div class="container">
  <%= render "form", usuario: @usuario %>
</div>

<br>

<div>
  <%= link_to "Lista usuarios", usuarios_path, class: "button is-link" %>
   <%= link_to "volver", '/', class: "button is-link" %>
</div>


